@media screen and (max-width: 768px) {

    #f_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 10px 25px;
        gap: 20px;

    }

    #head {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    } 

    #back_btn,
    #back_btn_model {
        background-color: #0000007e;
        color: white;

        font-size: 12px;

        padding: 7px 9px;
        border-radius: 50%;

        border: none;
        cursor: pointer;
    }


    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 20px;
        gap: 20px;

        width: 100%;

    }

    #graph_area {
        width: 80%;
        height: 350px;

        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;

        background-color: #f0f0f0;
    }

    #model_area {
        width: 80%;

        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;

        background-color: #f0f0f0;
    }


    #d_options {
        width: 80%;
        display: flex;
        justify-content: center;
    }

    #model_select {
        width: 80%;
        padding: 3px 10px;

        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
    }


    #topic_li{
        width: 100%;
        padding: 15px 10px;

        list-style-type: none;

        border-radius: 5px;
        background-color: rgb(154, 200, 235);
    }


    #model_button {
        background-color: #6a43ea;
        color: white;

        font-size: 12px;

        padding: 5px 10px;
        border-radius: 5px;

        border: none;
        cursor: pointer;
    }

    #lec_area {
        width: 80%;
        height: 80vh;

        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;

        overflow-y: auto;

        background-color: #f0f0f0;
    }

    #lec_list {
        display: flex;
        flex-direction: column;
        gap: 20px;


        text-decoration: none;
        list-style-type: none;

    }

    li {
        width: 90%;
        padding: 50px 15px;

        border-radius: 5px;
        background-color: rgb(154, 200, 235);
    }

    #quiz_area {
        width: 80%;
        height: 50vh;

        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;

        background-color: #f0f0f0;
    }



    #input_field {
        width: 60%;
        padding: 3px 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
    }

    #graph_btn {
        background-color: #6a43ea;
        color: white;

        font-size: 16px;

        padding: 3px 15px;
        border-radius: 5px;

        border: none;
        cursor: pointer;
    }

    #g_symbols {
        display: flex;
        gap: 2px;

        width: 75%;
        height: 25px;

        overflow-x: auto;
    }

    .symbol_btn {
        background-color: #6a43ea;
        color: white;

        font-size: 12px;

        padding: 3px 15px;
        border-radius: 5px;

        border: none;
        cursor: pointer;
        flex-grow: 1;
    }


    #graph_canvas {
        width: 100%;
        height: 100%;
    }

    #controls_area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 10px;
    }

    #controls_area input{
        width: 60%;
        padding: 2px 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 14px;
    }

    #controls_area button {
        background-color: #6a43ea;
        color: white;

        /* font-size: 14px; */

        padding: 3px 15px;
        border-radius: 5px;

        border: none;
        cursor: pointer;
    }

    #controls_area b{
        font-size: 14px;
        padding: 3px 10px;
        border-radius: 5px;
        background-color: #31255b;
        color: white;
    }

    canvas {
        border: 1px solid #ccc;
        box-shadow: 0px 0px 10px rgb(0, 0, 0);
        border-radius: 10px;
    }

}   